/* Deafult Margin & Padding */

/*-- Margin Top --*/
.mt-30 {
	margin-top: 30px;
}
.mt-45 {
	margin-top: 45px;
}
.mt-50 {
	margin-top: 50px;
}

/*-- Padding Top --*/
.pt-70 {
	padding-top: 70px;
}
.pt-120 {
	padding-top: 120px;
}

/*-- Padding Bottom --*/
.pb-30 {
	padding-bottom: 30px;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-100 {
	padding-bottom: 100px;
}