<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <script type="text/javascript"
            src="/assets/js/jquery-3.3.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wisdom School</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/ico">
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>
<body>
    <!-- //header block -->
    <div id="header" th:replace="header :: header"></div>
    <!-- //header block -->

    <!-- inner banner -->
    <section class="inner-banner py-4">
        <div class="w3l-breadcrumb py-lg-4">
            <div class="container pt-4 pb-sm-4">
                <h4 class="inner-text-title pt-5">Add Course</h4>
                <ul class="breadcrumbs-custom-path">
                    <li><a th:href="@{/dashboard}">Dashboard</a></li>
                    <li class="active"><i class="fas fa-angle-right"></i>Courses</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //inner banner -->
    <div class="site-section">
        <div style="text-align:center">
                <h3 class="text-uppercase mb-4" style="font-family:Sans-Serif;">Do you want to add New Course for your students ?</h3>
                <button class="btn btn-style" type="button"
                            data-bs-toggle="modal" data-bs-target="#addCourse">ADD NEW COURSE</button>
            </div>
        </div>
        <ul style="width: 70%; margin: auto;">
            <li class="alert alert-danger" role="alert"
                th:each="error: ${#fields.errors('course.*')}" th:text="${error}"></li>
            <li class="alert alert-success text-center" role="alert"
                th:if="${!#strings.isEmpty(addMessage)}" th:text="${addMessage}"></li>
            <li class="alert alert-danger text-center" role="alert"
                th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></li>
        </ul>
        <div class="modal fade login-block" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="addCourseModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="addCourseLabel">Add New Course</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/admin/addNewCourse}" enctype="multipart/form-data" method="post" th:object="${course}">
                        <div class="modal-body contact-block">
                            <div class="mb-2">
                                <label class="mb-2 required">Course Title</label>
                                <input type="text" th:field="*{name}" class="contact-input"  required  placeHolder="Enter Course Title">
                            </div>
                            <div class="mb-2">
                                <label class="required">Course Description</label>
                                <p id="result" style="text-align:right; margin-right:15px;">0/400</p>
                            <textarea id="my-text" type="text" rows="3" th:field="*{descrip}" maxlength="400" required  placeHolder="Enter Course Description"/>
                            </div>
                            <div class="mb-2">
                                <label class="mb-2 required">Tags for Course</label>
                                <input type="text" th:field="*{tags}" class="contact-input"  required  placeHolder="Enter Tags for course">
                            </div>
                            <div class="mb-2">
                                <label class="mb-2 required">Number of Lessons</label>
                                <input type="text" th:field="*{lessonNo}" class="contact-input"  required  placeHolder="Enter No. of Lessons">
                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <label class="mb-2 required">Rating</label>
                                    <input type="text" th:field="*{rating}" class="contact-input" required placeHolder="Enter Rating">
                                </div>
                                <div class="col-sm-6">
                                    <label class="mb-2 required">Fees</label>
                                    <input type="text" th:field="*{fees}" class="contact-input"  required  placeHolder="Enter Fees for Course">
                                </div>
                            </div>
                            <div class="mb-2">
                                <label class="mb-2 required">Course Preview Image</label>
                                <input type="file" name="file"  accept="image/png, image/jpeg, image/jpg" required>
                            </div>
                        </div>

                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <button type="submit" class="btn btn-style btn-style-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="myForm modal fade login-block" id="enrollStud" tabindex="-1" role="dialog" aria-labelledby="enrollStudModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="enrollStudLabel">List of Enrolled Students</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <table class="table table-striped table-hover" style="text-align:center">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col" >Student Name</th>
                        <th scope="col" >Student Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="perso: ${courseList}">
                        <td id="personName" name="personName" class="td-color" th:text="${perso.name}"></td>
                        <td id="personEmail" name="personEmail" class="td-color" th:text="${perso.email}"></td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div class="modal-footer border-top-0 d-flex justify-content-center">
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-style btn-style-3">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="w3l-grids-block-5">
        <div class="container">
            <div class="row justify-content-center">
                <table>
                    <tr th:each="course: ${courses}">
                        <div class="col-lg-4 col-md-6 mt-4">
                            <div class="coursecard-single">
                                <div class="grids5-info position-relative">
                                    <img th:src="@{${'/assets/uploadfile/'+course.courseImage}}" alt="" class="img-fluid" />
                                    <div class="meta-list">
                                        <a th:text="${course.tags}"></a>
                                    </div>
                                </div>
                                <div class="content-main-top">
                                    <div class="content-top mb-4 mt-3">
                                        <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                            <li> <i class="fas fa-book-open" th:text="${course.lessonNo}"></i></li>
                                            <li> <i class="fas fa-star" th:text="${course.rating}"></i></li>
                                        </ul>
                                    </div>
                                    <h4 th:text="${course.name}"></h4>
                                    <p th:text="${course.descrip}"></p>
                                    <div class="top-content-border d-flex align-items-center justify-content-center mt-3 pt-3">
                                        <a class="btn btn-style-primary showUserTable" th:href="@{'/admin/enrolledStudents/' + ${course.courseId}}">View Enrolled Students<i
                                                class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>

            <!-- pagination -->
            <div class="pagination-style text-center mt-5 mb-5">
                <ul>
                    <li>
                        <a th:if="${currentPage > 1}" th:href="@{'/admin/displayCourses/page/' + ${currentPage - 1}}">
                            <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                        </a>
                        <a th:unless="${currentPage > 1}" class="not-allowed" disabled="">
                            <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                        </a>
                    </li>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <li>
                        <a th:if="${currentPage != i}" th:href="@{'/admin/displayCourses/page/' + ${i}}">[[${i}]]</a>
                        <a class="active" th:unless="${currentPage != i}">[[${i}]]</a>
                    </li>
                </span>
                    <li>
                        <a th:if="${currentPage < totalPages}" th:href="@{'/admin/displayCourses/page/' + ${currentPage + 1}}">
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        </a>
                        <a th:unless="${currentPage < totalPages}" class="not-allowed" disabled="">
                            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //pagination -->
        </div>
    </div>
    <!-- //courses section -->

    <!-- footer block -->
    <div th:replace="footer :: footer"></div>
    <!-- //footer block -->

    <!-- Change color everytime course tab refreshes -->
    <script>
        const randomColor = "#"+((1<<24)*Math.random()|0).toString(16);
        document.documentElement.style.setProperty('--tag-bg-color', randomColor);
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        $(".showUserTable").on("click", function(event){
            event.preventDefault();
            var href = $(this).attr('href');
<!--            $.get(href, function(perso, status){-->
<!--                $('#personName').val(perso.name);-->
<!--                $('#personEmail').val(perso.email);-->
<!--            });-->
            $("#enrollStud").modal("show");
        });
    });
    </script>
    <script>
    var myText = document.getElementById("my-text");
    var result = document.getElementById("result");
    var limit = 400;
    result.textContent = 0 + "/" + limit;

    myText.addEventListener("input",function(){
        var textLength = myText.value.length;
        result.textContent = textLength + "/" + limit;
    });
</script>
</body>
</html>