<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wisdom School</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/ico">
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>
<!-- header -->
<div id="header" th:replace="header :: header"></div>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-4">
    <div class="w3l-breadcrumb py-lg-4">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Courses</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Courses</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->

<!-- courses section -->
<div class="w3l-grids-block-5 py-4">
    <div class="container py-md-4 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Best Courses</p>
            <h3 class="title-style">Find The Right Course For You</h3>
        </div>

        <div class="row justify-content-center">
            <table>
                <tr th:each="course: ${courses}">
                    <div class="col-lg-4 col-md-6 mt-4">
                        <div class="coursecard-single">
                            <div class="grids5-info position-relative">
                                <img th:src="@{${'/assets/uploadfile/'+course.courseImage}}" alt="" class="img-fluid"/>
                                <div class="meta-list">
                                    <a th:text="${course.tags}"></a>
                                </div>
                            </div>
                            <div class="content-main-top">
                                <div class="content-top mb-4 mt-3">
                                    <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                        <li><i class="fas fa-book-open" th:text="${course.lessonNo}"></i></li>
                                        <li><i class="fas fa-star" th:text="${course.rating}"></i></li>
                                    </ul>
                                </div>
                                <h4 th:text="${course.name}"></h4>
                                <p th:text="${course.descrip}"></p>
                                <div class="top-content-border d-flex align-items-center justify-content-between mt-3 pt-3">
                                    <h6 th:text="${course.fees}"></h6>
                                    <a class="btn btn-style-primary"
                                       th:href="@{/student/enrollStudent(courseId=${course.courseId})}">Enroll now<i
                                            class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>

        <!-- pagination -->
        <div class="pagination-style text-center mt-5">
            <ul>
                <li>
                    <a th:if="${currentPage > 1}" th:href="@{'/student/courses/page/' + ${currentPage - 1}}">
                        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                    </a>
                    <a th:unless="${currentPage > 1}" class="not-allowed" disabled="">
                        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                    </a>
                </li>
                <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <li>
                        <a th:if="${currentPage != i}" th:href="@{'/student/courses/page/' + ${i}}">[[${i}]]</a>
                        <a class="active" th:unless="${currentPage != i}">[[${i}]]</a>
                    </li>
                </span>
                <li>
                    <a th:if="${currentPage < totalPages}" th:href="@{'/student/courses/page/' + ${currentPage + 1}}">
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                    </a>
                    <a th:unless="${currentPage < totalPages}" class="not-allowed" disabled="">
                        <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- //pagination -->
    </div>
</div>
<!-- //courses section -->

<!-- footer block -->
<div th:replace="footer :: footer"></div>
<!-- //footer block -->

<!-- Js scripts -->
<!-- Change color everytime course tab refreshes -->
<script>
        const randomColor = "#"+((1<<24)*Math.random()|0).toString(16);
        document.documentElement.style.setProperty('--tag-bg-color', randomColor);

</script>
</body>

</html>