<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.com">
<head>
</head>
<body>
<coursecontent>
    <!-- courses section -->


    <div class="w3l-grids-block-5 py-4">
        <div class="container py-md-4 py-4">
            <div class="row justify-content-center">
                <table>
                    <tr th:each="course: ${courses}">
                        <div class="col-lg-4 col-md-6">
                            <div class="coursecard-single">
                                <div class="grids5-info position-relative">
                                    <img src="/assets/images/c1.jpg" alt="" class="img-fluid" />
                                    <div class="meta-list">
                                        <a th:text="${course.tags}"></a>
                                    </div>
                                </div>
                                <div class="content-main-top">
                                    <div class="content-top mb-4 mt-3">
                                        <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                            <li> <i class="fas fa-book-open" th:text="${course.lessonNo}"></i></li>
                                            <li> <i class="fas fa-star" th:text="${course.rating}"></i></li>
                                        </ul>
                                    </div>
                                    <h4 th:text="${course.name}"></h4>
                                    <p th:text="${course.descrip}"></p>
                                    <div class="top-content-border d-flex align-items-center justify-content-between mt-4 pt-4">
                                        <h6 th:text="${course.fees}"></h6>
                                        <a class="btn btn-style-primary" th:href="@{/enrollCourse}">Enroll now<i
                                                class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>

    <!-- pagination -->
            <div class="pagination-style text-center mt-5">
                <ul>
                    <li> <a href="#none" class="not-allowed" disabled="">
                        <span class="fa fa-angle-double-left" aria-hidden="true"></span>
                    </a>
                    </li>
                    <li><a class="active" href="#page">1</a></li>
                    <li>
                        <a href="#page">2</a>
                    </li>
                    <li>
                        <a href="#page">3</a>
                    </li>
                    <li>
                        <a href="#page"><span class="fa fa-angle-double-right" aria-hidden="true"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- //pagination -->
        </div>
    </div>
    <!-- //courses section -->
</coursecontent>
</body>
</html>